<h3>All Current Recipes</h3>
<%@recipes.each do |recipe|%>
<strong><%=recipe.name%>:</strong>
<br><%=recipe.ingredients%>
<br><%=recipe.restaurant_id%> <!--why is there no .restaurant method for recipe-->
<br></br>
<%end%>
