<h3>All Current Recipes</h3>
<%@recipes.each do |recipe|%>
- <a href="/recipes/<%=recipe.slug%>"><%=recipe.name%></a>
<br></br>
<%end%>

<%if logged_in?%>
<p><%=current_user.name%></p>
<p><a href="/recipes/new">Create Your Recipe</a></p>
<%end%>
