<h3>All Current Recipes</h3>
<%@recipes.each do |recipe|%>
- <a href="/recipes/<%=recipe.slug%>"><%=recipe.name%></a>
<br></br>
<%end%>

<div class="button"><input type="button" value="Create Your Own Recipe" onclick="window.location.href='/recipes/new'"></div>
