<h3>Create a New Recipe</h3>

<form action="/recipes" method="post">
<label>Name: </label><input type="text" name="name">
<br></br>
<label>Ingredients: </label><input type="text" name="ingredients">
<br></br>
<label><strong>Category: </p><%Category.all.each do |category|%></strong></label>
<label><%=category.name%></label>
<input type="checkbox" name="recipe[category_ids][]" value="<%=category.id%>" id="<%= category.name %>"</input>
<%end%>

<input type="submit" value="Submit">
</form>
