<h2>Create New User</h2>


<form action="/signup" method="POST">
  <label>Full Name: </label>
  <input type="text" name="name">
  <br></br>
  <label>Username: </label>
  <input type="text" name="username">
  <br></br>
  <label>Password: </label>
  <input type="password" name="password">
  <br></br>
  <input type="submit" name="submit" value="Create User">
</form>

<p>Already a user? <a href="/login">Log In</a></p>
