<h3>Log In</h3>
<form action="/login" method="post">
  <label>Username: </label>
  <input type="text" name="username" id="username">
  <br></br>
  <label>Password: </label>
  <input type="password" name="password" id="password">
  <br></br>
  <input type="submit" value="Log In" class="btn">
</form>
<p>Not a user? <a href="/signup">Create an account</a>.</p>
