<!DOCTYPE html>

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <title>Chef's Recipe Index</title>
    <style>
      p {font-family:'Open Sans', sans-serif;}
      h1, h2, h3 {color:#800800; font-family:'Montserrat'}
      a {font-family:'Open Sans';}
      label {font-family:'Open Sans', sans-serif; font-weight:bold}
      nav {text-align: right}
      .border {border: 1px dotted grey; padding:10px}
      footer {margin-top:10px}
      div.alert.alert-warning {color:red; font-weight: bold; font-size:1.25em;}
      .btn {font-size:.75em; color: #016531; font-weight:bold; background:#8af3e7; padding: 5px 12px; margin:10px 0; border-radius: 8px;}
      .btn-delete {font-size:.75em; color: white; font-weight:bold; background:red; padding: 5px 12px; margin:10px 0; border-radius: 8px;}

    </style>
  </head>
  <body>
    <nav class="border"> <!--make this align right -->
      <% if logged_in? %>
        <strong><a href="/users/<%=current_user.slug%>"><%=current_user.name%></a></strong>  |  <a href="/recipes/new"> Create Recipe </a>  |  <a href="/logout"> Log Out </a>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>
      <%end %>

    </nav>
    <div class="container">
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %>
    </div>
  </body>
  <footer class="border">
  <div><a href ="/recipes">See All Recipes</a>  |  <a href="/categories">See All Categories</a></div>
  </footer>
</html>
