<!DOCTYPE html>

<html>
  <head>
    <title>Chef's Recipe Index</title>
    <style>
      nav {text-align: right}
      .border {border: 1px dotted grey; padding:10px}
      h2 {text-decoration: underline;}
      div.alert.alert-warning {color:red; font-weight: bold; font-size:1.25em;}
    </style>
  </head>
  <body>
    <nav class="border"> <!--make this align right -->
      <% if logged_in? %>
        <p>Hello, <a href="/users/<%=current_user.slug%>"><%=current_user.name%></a>  |  <a href="/recipes/new"> Create Recipe </a>  |  <a href="/logout"> Log Out </a></p>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Log In </a>
      <%end %>

    </nav>
    <div class="container">
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %>
    </div>
  </body>
  <footer class="border">
  <div><a href ="/recipes">See All Recipes</a></div>
  </footer>
</html>
